*.pyc
*.pyo
*.egg-info
.benchmarks
docs/build
build/
dist/
.idea/
log.*
log
.coverage
.DS_Store
*.swp
*.swo
scratch/
.hypothesis
.cache
.eggs
.artifacts
examples/**/artifacts/
examples/**/blobstore/
.ipynb_checkpoints
docs/build
.pytest_cache/
