recursive-include provenance *.py
recursive-include docs *.rst
include provenance/migrations/*
include provenance/migrations/versions/*
include provenance/alembic.ini

include setup.py
include requirements.txt
include test_requirements.txt
include README.rst
include LICENSE.txt
include HISTORY.rst
include MANIFEST.in

prune docs/_build
include versioneer.py
include provenance/_version.py
